<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>UnlimShortcut</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>UnlimShortcut.png</string>
      <key>label</key>
      <string>UnlimShortcut</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Remove 4 shortcuts limit</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>PostNotification</key>
		<string>com.PS.UnlimShortcut.prefs</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.UnlimShortcut</string>
        <key>key</key>
        <string>UnlimitedShortcut</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Custom layout</string>
        <key>footerText</key>
        <string>Allow options below to alter with shortcuts appearance, by scaling percentage.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>PostNotification</key>
		<string>com.PS.UnlimShortcut.prefs</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.UnlimShortcut</string>
        <key>key</key>
        <string>CustomLayout</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Relative row height</string>
      </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.PS.UnlimShortcut.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.UnlimShortcut</string>
			<key>key</key>
			<string>RowHeight</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.2</real>
			<key>showValue</key>
			<true/>
		</dict>
	<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Relative title font size</string>
      </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.PS.UnlimShortcut.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.UnlimShortcut</string>
			<key>key</key>
			<string>TitleFontSize</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.2</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
       	 <string>Relative icon max height</string>
      	</dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.UnlimShortcut.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.UnlimShortcut</string>
			<key>key</key>
			<string>IconHeight</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.2</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
       	 <string>Relative content width</string>
      	</dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.UnlimShortcut.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.UnlimShortcut</string>
			<key>key</key>
			<string>ContentWidth</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.2</real>
			<key>showValue</key>
			<true/>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2015 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
